.inputForm {
    margin-bottom: 20px
}

.whiteCard {
    margin: 30px;
    padding: 20px;
    height: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.noData {
    text-align: center;
    font-size: 20px;
}

.errClass {
    color : red
}

.btnClass {
    position: fixed;
    top: 0;
    right : 0
}







